<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <header class="p-3 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-light" href='/'>Home</a></li>
                    <li><a class="nav-link text-light" href='/cards'>Cards</a></li>
                    <li><a class="nav-link text-light" href='/stacks'>Stacks</a></li>
                    <li><a class="nav-link text-light" href='/users'>Users</a></li>
                    <li><a class="nav-link text-light" href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container d-flex">
        <div class="container border border-dark my-3 rounded">
            <h1>Login</h1>
            <form action="">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com"
                        name="username-or-email" required>
                    <label for="floatingInput">Username or Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingInput" placeholder="name@example.com"
                        name="password" required>
                    <label for="floatingInput">Password</label>
                </div>
                <input type="submit" value="Login" class="btn btn-primary mb-3">
            </form>
        </div>
        <div class="container border border-dark my-3 rounded">
            <p class="mt-3">No Account? </p>
            <a class="btn btn-primary my-2" href="/users/new">Create New User</a>
        </div>
    </div>
</body>

</html>