<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Card</title>
</head>

<body>
    <header class="p-3 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-light" href='/'>Home</a></li>
                    <li><a class="nav-link text-light" href='/cards'>Cards</a></li>
                    <li><a class="nav-link text-light" href='/stacks'>Stacks</a></li>
                    <li><a class="nav-link text-light" href='/users'>Users</a></li>
                    <li><a class="nav-link text-light" href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Create a Card</h1>
        <form class="d-flex flex-column" action="/cards/create" method="post">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" name="name" required>
            <label class="form-label" for="type">Type</label>
            <select class="form-select" name="type" required>
                {% for type in types %}
                <option value="{{ type['id'] }}">{{ type['name'] }}</option>
                {% endfor %}
            </select>
            <label class="form-label" for="value">Value</label>
            <input class="form-control" type="text" name="value" required>
            <div class="my-2">
                <input class="btn btn-primary" type="submit" value="Create">
            </div>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item border-danger text-danger">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>