<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Card</title>
</head>

<body>
    <h1>YOU ARE NOW MAKING A NEW CARD</h1>
    <form action="/cards/create" method="post">
        <label for="name">Card Name:</label>
        <input type="text" name="name">
        <label for="type">Card Type:</label>
        <input type="text" name="type">
        <label for="value">Card Value:</label>
        <input type="text" name="value">
        <input type="submit" value="Create Card">
    </form>
    <a href="/">Home</a>
</body>

</html>