<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacks</title>
</head>

<body>
    <header class="p-3 bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-light" href='/'>Home</a></li>
                    <li><a class="nav-link text-light" href='/cards'>Cards</a></li>
                    <li><a class="nav-link text-light" href='/stacks'>Stacks</a></li>
                    <li><a class="nav-link text-light" href='/users'>Users</a></li>
                    <li><a class="nav-link text-light" href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <h1>Viewing Stacks</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item border-success text-success">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>